<form>
  <table>
    <tr>
      <td>
        <input type='button' onClick='Context.Cond.negate()' 
            value='{{stringNegate}}' style='width: 100%'
            class='button {{sizeNegate}} {{colorNegate}}' />
      </td>
      <td class='info' title='{{infoNegate}}' 
          onClick='Info.showLong("{{infoNegateLong}}")' />
    </tr>
    <tr>
      <td colspan="2">
        <input type='button' onClick='Context.Cond.delete()' 
            value='{{stringDelete}}' style='width: 100%'
            class='button {{sizeDelete}} {{colorDelete}}' />
      </td>
    </tr>
  </table> 
</form>
