<form onsubmit='return Context.Node.submit()'>
  <table style='width: 100%'>
    <tr>
      <td colspan='2'>
        <input name='name' type='text' onfocus='this.select()'
               class='button {{sizeName}} {{valueColor}}' 
               style='width: 100%; font-size: 1.1em'
               id='{{idName}}' value='{{name}}' />
      </td>
    </tr>    
    <tr>
      <td style='width: 50%'>
        <table style='width: 100%'>
          <tr>
            <td style='width: 100%'>
              <input type='button' onClick='Context.hide()' 
                  value='{{stringCancel}}' style='width: 100%'
                  class='button {{sizeAction}} {{colorCancel}}' />
            </td>
          </tr>
          <tr>
            <td style='width: 100%'>
              <input type='button' onClick='Context.Node.delete()' 
                  value='{{stringDelete}}' style='width: 100%'
                  class='button {{sizeAction}} {{colorDelete}}' />
            </td>
          </tr>
          <tr>
            <td style='width: 100%'>
              <input type='button' onclick='Context.Node.submit()'
                  value='{{stringSubmit}}' style='width: 100%'
                  class='button {{sizeAction}} {{colorSubmit}}' />
            </td>
          </tr>
        </table>
      </td>
      <td style='width: 50%'>
        <table style='width:100%'>
          <tr>
            <td style='width: 100%; text-align: center'>
              <input type='button' onClick='Context.Node.setValue(true)' 
                  class='button {{sizeValue}} {{trueColor}}'
                  style='width: 100%' value='{{trueString}}' />
            </td>
          </tr>
          <tr>
            <td style='width: 100%; text-align: center'>
              <input type='button' onClick='Context.Node.setValue(null)' 
                  class='button {{sizeValue}} {{unknownColor}}'
                  style='width: 100%' value='{{unknownString}}' />
            </td>
          </tr>
          <tr>
            <td style='width: 100%; text-align: center'>
              <input type='button' onClick='Context.Node.setValue(false)' 
                  class='button {{sizeValue}} {{falseColor}}'                  
                  style='width: 100%' value='{{falseString}}' />
            </td>
          </tr>    
        </table>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <table width="100%">
          <td width="90%">
            <input type='button' onClick='Context.Node.rwv()'
               value='{{stringRwv}}' style='width: 100%'
               class='button {{sizeRwv}} {{colorRwv}}' />
          </td>
          <td class='info' title='{{infoRwv}}' 
              onClick='Info.showLong("{{infoRwvLong}}")' />
        </table>
      </td>    
    </tr>
  </table> 
</form>
