<form>
  <table style='width: 100%'>
    <tr>
      <td style='width: 100%'>
        <input type='button' value='{{stringNewVar}}'
            class='button {{sizeNewVar}} {{colorNewVar}}' 
            style='width: 100%' onclick='Context.Bg.newNode()' />
      </td>
      <td class='info' title='{{infoNewVar}}' 
          onClick='Info.showLong("{{infoNewVarLong}}")' />
    </tr>
    <tr>
      <td style='width: 100%'>
        <input type='button' value='{{stringNewRule}}'
            class='button {{sizeNewRule}} {{colorNewRule}}' 
            style='width: 100%' onclick='Context.Bg.newRule()' />
      </td>
      <td class='info' title='{{infoNewRule}}' 
          onClick='Info.showLong("{{infoNewRuleLong}}")' />
    </tr>
    <tr>
      <td style='width: 100%'>
        <input type='button' value='{{stringReset}}'
            class='button {{sizeReset}} {{colorReset}}' 
            style='width: 100%' onclick='Context.Bg.reset()' />
      </td>
      <td class='info' title='{{infoReset}}'
          onClick='Info.showLong("{{infoResetLong}}")' />      
    </tr>
    <tr>
      <td style='width: 100%'>
        <input type='button' value='{{stringVwv}}'
            class='button {{sizeVwv}} {{colorVwv}}' 
            style='width: 100%' onclick='Context.Bg.vwv()' />
      </td>
      <td class='info' title='{{infoVwv}}' 
          onClick='Info.showLong("{{infoVwvLong}}")' />
    </tr>
    <tr>
      <td style='width: 100%'>
        <input type='button' value='{{stringIE}}'
            class='button {{sizeIE}} {{colorIE}}' 
            style='width: 100%' onclick='Context.Bg.ie()' />
      </td>
      <td class='info' title='{{infoIE}}' 
          onClick='Info.showLong("{{infoIELong}}")' />
    </tr> 
  </table>
</form>
