<form method='POST'>
  <table style='width: 100%'>
    <tr>
      <td style='width: 100%'>
        <input type='button' onClick='Context.Rule.setConds()' 
            value='{{stringConds}}' style='width: 100%'
            class='button {{sizeConds}} {{colorConds}}' />
      </td>
      <td class='info' title='{{infoSetConds}}' 
          onClick='Info.showLong("{{infoSetCondsLong}}")' />
    </tr>
    <tr>
      <td style='width: 100%'>
        <input type='button' onclick='Context.Rule.setConcs()'
            value='{{stringConcs}}' style='width: 100%'
            class='button {{sizeConcs}} {{colorConcs}}' />
      </td>
      <td class='info' title='{{infoSetConcs}}' 
          onClick='Info.showLong("{{infoSetConcsLong}}")' />
    </tr>
    <tr>
      <td colspan="2" style='width: 100%'>
        <input type='button' onClick='Context.Rule.delete()' 
            value='{{stringDelete}}' style='width: 100%'
            class='button {{sizeDelete}} {{colorDelete}}' />
      </td>
    </tr>
  </table> 
</form>
