<table style='width: 100%'>
  <tr>
    <td id='selDesc' style='width: 100%' colspan='2'></td>
  </tr>
  <tr>
    <td style='width: 50%'>
      <input type='button' onClick='Selection.hide()' 
          value='{{stringCancel}}' style='width: 100%'
          class='button {{sizeCancel}} {{colorCancel}}' />
    </td>
    <td style='width: 50%'>
      <input type='button' onclick='Selection.submit()'
          value='{{stringSubmit}}' style='width: 100%'
          class='button {{sizeSubmit}} {{colorSubmit}}' />
    </td>
  </tr>
</table> 
