#context {
  visibility: hidden;
  white-space: nowrap;
  background: url('../img/pw_maze_black.png');
  position: fixed;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0px solid #333;
  padding: 0.7em;
  box-shadow: 0px 0px 20px rgba(0,0,0,.9);
}
