* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "sans-serif";
  font-size: 15px;
  background: url('../img/shattered.png');
  color: #fff;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#nodes {
  cursor: pointer;
}

.dragged {
  cursor: pointer;
}

#rules {
  cursor: pointer;
}

#path {
  cursor: pointer;
}

#ruler { 
  visibility: hidden;
  white-space: nowrap; 
  position: fixed;
}

td {
  padding: 0.25em;
}

.info {
  background: url('../img/info.png') center no-repeat;
  width:   25px;
  min-width:25px;
  height:  25px;
  cursor:  pointer;
  margin:  0px;
  padding: 0px;
}

#selDesc {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

#selectionMenu {
  visibility: hidden;
  background: url('../img/pw_maze_black.png');
  position: fixed;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0px solid #333;
  padding: 0.7em;
  box-shadow: 0px 0px 20px rgba(0,0,0,.9);
  width: 200px;
}  
