#ie {
  visibility: hidden;
  white-space: nowrap;
  color: #fff;
  background: url('../img/pw_maze_black.png');
  position: fixed;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0px solid #333;
  padding: 0.7em;
  box-shadow: 0px 0px 20px rgba(0,0,0,.9);
  width:  400px;
  height: 400px;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

#iearea {
  background: url('../img/pw_maze_black.png');
  border: 0px;
  font-size:0.8em; 
  width:100%; 
  height:85%; 
  resize:none;
}
